CLIENT_ID=
CLIENT_SECRET=

KAFKA_VERSION=
KAFKA_EXTERNAL_PORT=

CLICKHOUSE_VERSION=
CLICKHOUSE_TCP_PORT=
CLICKHOUSE_HTTP_PORT=
CLICKHOUSE_DEFAULT_PASSWORD=

AIRFLOW_POSTGRES_USER=
AIRFLOW_POSTGRES_PASSWORD=
AIRFLOW_POSTGRES_DB=

FERNET_KEY=

_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=
