# ======= API OPENSKY ======= #
CLIENT_ID=
CLIENT_SECRET=

# ======= KAFKA ======= #
KAFKA_VERSION=4.3.1
KAFKA_INTERNAL_PORT=
KAFKA_EXTERNAL_PORT=
KAFKA_CONTROLLER_PORT=
KAFKA_EXTERNAL_IP=

# ======= KAFKA UI ======= #
KAFKA_UI_TAG=v0.7.2
KAFKA_UI_PORT=

# ======= KAFKA CONNECT ======= #
# This variable is specified like clarifying a version.
# Actually, her changing won't change installing version, it is done in ./docker/kafka-connect/Dockerfile
KAFKA_CONNECT_VERSION=8.0.7
KAFKA_CONNECT_PORT=

# ======= POSTGRESQL ======= #
POSTGRES_VERSION=17.10-alpine
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# ======= CLICKHOUSE ======= #
CLICKHOUSE_VERSION=26.5-alpine
CLICKHOUSE_TCP_PORT=
CLICKHOUSE_HTTP_PORT=
CLICKHOUSE_DEFAULT_PASSWORD=

# ======= AIRFLOW ======= #
# This variable is specified like clarifying a version.
# Actually, her changing won't change installing version, it is done in ./docker/airflow/Dockerfile
AIRFLOW_VERSION=3.3.0
# Were actual when default airfow was used, now it is standalone
# AIRFLOW_POSTGRES_USER=
# AIRFLOW_POSTGRES_PASSWORD=
# AIRFLOW_POSTGRES_DB=

FERNET_KEY=

_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=


# ======= PYTHON ======= #
# for local python ways solvability
PYTHONPATH=./dags

# This variable is specified like clarifying a version.
PYTHON_VERSION=3.13
