confluent-kafka==2.15.0
opensky-api @ git+https://github.com/openskynetwork/opensky-api.git@16e3803d2495d0029bebc3c85b2a235eeb122742#subdirectory=python
opentelemetry-api==1.43.0
opentelemetry-exporter-otlp==1.43.0
opentelemetry-exporter-otlp-proto-common==1.43.0
opentelemetry-exporter-otlp-proto-grpc==1.43.0
opentelemetry-exporter-otlp-proto-http==1.43.0
opentelemetry-proto==1.43.0
opentelemetry-sdk==1.43.0
opentelemetry-semantic-conventions==0.64b0
apache-airflow-providers-apache-kafka==1.0.0